@media screen and (max-width: 770px) {

    .Orders .Header{
        position: fixed;
        z-index: 2;
        width: 100%;
      }


    .OrdersBody{
        margin-top: 25%;
        overflow-x: scroll;
        padding: 0 105vw;
        max-width: 100vw;
    }

    .Page{
        width: 100%;
        margin-left: 0;
        margin-top: 4em;
        /* max-width: 100vw; */
        overflow-x: scroll;
    }

    .OrderHolder{
        margin: 1.2em .8em 0 0;
        height: 75vh;
        min-width: 90vw;
    }

    .topbar{
        visibility: visible;
        display: flex;
    }

    .Navigator{
        flex-direction: column;
    }

    .SidebarDiv{
        width: 80vw;
        height: 95%;
        margin-top: 64px;
        padding-top: 10px;
        margin-right: 0;
        position: fixed;
        z-index: 3;
        box-shadow: .3em .1em 1em rgb(179, 179, 179);
    }

    .sbda{
        display: flex;
      }
      
      .sbdp{
        display: none;
      }


    .SidebarNav{
        width: 100%;
    }

    .SidebarDiv .titleDiv{
        display: none;
    }


  }



@media screen and (max-width: 48em) {
    .BillingContainer, .SignUpContainer{
        width: 100%;
    }

    .BillingContainer input, .SignUpContainer input{
        width: 100%;
    }

    #getCoords{
        width: 100%;
    }
    .GPS input{
        width: 100%;
    }


    .AccountBody{
        display: block;
    }

    .StatsBody div{
        width: 100%;
    }

}