@media screen and (max-width: 770px) {
    .OrdersBody{
        overflow-x: scroll;
        padding: 0 105vw;
        max-width: 100vw;
    }

    .Page{
        margin-top: 4em;
        max-width: 100vw;
        overflow-x: scroll;
    }

    .OrderHolder{
        margin: 1.2em .5em 0 0;
        height: 75vh;
        min-width: 100vw;
    }

    .topbar{
        visibility: visible;
        display: flex;
    }

    .Navigator{
        flex-direction: column;
    }

    .SidebarDiv{
        width: 80vw;
        height: 95%;
        margin-top: 50px;
        padding-top: 10px;
        margin-right: 0;
        position: fixed;
        z-index: 3;
        box-shadow: .3em .1em 1em rgb(179, 179, 179);
    }

    .sbda{
        display: flex;
      }
      
      .sbdp{
        display: none;
      }


    .SidebarNav{
        width: 100%;
    }

    .SidebarDiv .titleDiv{
        display: none;
    }


  }